# Projektin virtuaaliympäristö
.venv/

# Pythonin automaattiset välimuistitiedostot
__pycache__/
*.py[cod]

# Paikallinen SQLite-tietokanta
db.sqlite3

# Ympäristömuuttujat ja salaiset asetukset
.env
.env.*
!.env.example

# Käyttöjärjestelmän automaattiset tiedostot
.DS_Store
Thumbs.db

# Väliaikaiset työskentelytiedostot
tmp/

# Paikalliset oppimismateriaalit
Jouni_Kivipera_Django_CV_sivusto_oppimissuunnitelma.pdf
vaihe0.py

# Ylläpidosta ladattavat kuvat ja tiedostot
/media/
